html {
    background-color: #212121;
    color: rgb(230, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fixed {
    position: fixed;
    background-color: #212121;
    width: 100%;
    z-index: 10;
    top: 0px;
    padding: 20px;
    padding-bottom: 20px;

}



#pick-trading {
    padding-bottom: 10px;
}

#pick-table {
    position: absolute;
    top: 325px;
    margin-top: 0px;

}

select {
    background-color: rgba(250, 250, 250, 0.904);





}
input {
    background-color: rgba(250, 250, 250, 0.904);




}

#player-select, #club-select, #bid {
    font-size: larger;

}

#club-select {
    padding-left: 3px;
    padding-right: 3px;
}
#bid {
    background-color: #3f0cb4;
    border-radius: 10%;
}

#trade-button {
    background-color: #7742f3;
}


button {
    background-color: #BB86FC;
    border-color: rgba(255, 255, 255, 0.086);
    color: white;
    font-weight: bold;
    border-radius: 5%;

}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.086);
    border-collapse: collapse;
    padding: 3px 10px;
    margin-top: 40px;
    width: 700px;
    text-align: center;
    background-color: rgba(44, 45, 41, 0.788);
    
}

#club-col {
    width: 26.5%;
}
#player-col {
    width: 40%;
}

#bigdog {
    padding-left: 1%;

}